<div id='todo'>
	<h3><%= @todo.name %></h3>
	<p><strong>Due Date:</strong> <%= @todo.due_date %></p>
	<p><strong>Complete:</strong> <%= @todo.complete %></p>

	<%= link_to "Edit", edit_todo_path(@todo), remote: true %>
	<%= link_to "Back", todos_path %>
</div>