<div id='todo'>
	<h3><%= @todo.name %></h3>
	<p><strong>Due Date:</strong> <%= @todo.due_date.strftime("%B %d, %Y") %></p>
	<p><strong>Complete:</strong> <%= @todo.complete %></p>
  
  <% if @todo.comments.length > 0 %>
	  <div class="jumbotron">
		<% @todo.comments.each do |comment| %>
		  <p>
		    <strong><%= comment.commenter %></strong>
		  </p>
		 
		  <p>
		    <%= comment.body %>
		  </p>
	  <% end %>
	<% end %>
  </div>

  <hr>
	<%= form_for([@todo, @todo.comments.build]) do |f| %>
	 	<em>Commenting as <strong><%= current_user.email %></strong></em>

	  <p>
	    <%= f.hidden_field :commenter, value: current_user.email %>
	  </p>
	  <p>
	    <%= f.text_area :body %>
	  </p>
	  <p>
	    <%= f.submit "Leave Comment", class: "btn btn-primary" %>
	  </p>
	<% end %>


	<%= link_to "Edit", edit_todo_path(@todo), class: "btn-sm btn-info", remote: true %>
	<%= link_to "Back", todos_path, class: "btn-sm btn-warning" %>
	<hr>
</div>