<div id='todo'>
	<h3><%= @todo.name %></h3>
	<p><strong>Due Date:</strong> <%= @todo.due_date %></p>
	<p><strong>Complete:</strong> <%= @todo.complete %></p>
  
  <div class="jumbotron">
	<% @todo.comments.each do |comment| %>
	  <p>
	    <strong><%= comment.commenter %></strong>
	  </p>
	 
	  <p>
	    <%= comment.body %>
	  </p>

	<% end %>
  </div>

  <hr>
  <h5><em>Add Comments</em></h5>
	<%= form_for([@todo, @todo.comments.build]) do |f| %>
	  <p>
	    <%= f.hidden_field :commenter, value: current_user.email %>
	  </p>
	  <p>
	    <%= f.text_area :body %>
	  </p>
	  <p>
	    <%= f.submit "Leave Comment", class: "btn btn-primary" %>
	  </p>
	<% end %>


	<%= link_to "Edit", edit_todo_path(@todo), class: "btn-sm btn-info", remote: true %>
	<%= link_to "Back", todos_path, class: "btn-sm btn-warning" %>
	<hr>
</div>