<h1><%= @todo.name %></h1>
<p><strong>Due Date:</strong> <%= @todo.due_date %></p>
<p><strong>Complete:</strong> <%= @todo.complete %></p>

<%= link_to "Edit", edit_todo_path(@todo) %>
<%= link_to "Back", todos_path %>